* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}
.container {
  width: 800px;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

nav ol {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
nav ol li {
  margin-left: 30px;
}

nav ol li a {
  text-decoration: none;
  color: black;
}

.ImageAndTextContainer {
  display: flex;
  position: relative;
}

.accroche {
  font-size: 60px;
  font-weight: 900;
}

.purplebg {
  background-color: #6244fe;
  color: white;
  transform: rotate(-5deg);
  display: inline-block;
}

.textContainer {
  display: flex;
  align-items: center;
  padding: 20px;
}

.joinNow {
  background-color: #ffa500;
  color: white;
  padding: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: underline;
}

.joinNow a {
  text-decoration: none;
  color: white;
}

.joinbold {
  font-weight: bold;
}

.straightText {
  transform: rotate(5deg);
  display: inline-block;
}
