* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  display: flex;
  justify-content: center;
}
.container {
  width: 800px;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

nav ol {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
nav ol li {
  margin-left: 30px;
}

nav ol li a {
  text-decoration: none;
  color: black;
}

.ImageAndTextContainer {
  display: flex;
  position: relative;
}

.accroche {
  font-size: 60px;
  font-weight: 900;
}

.purplebg {
  background-color: #6244fe;
  color: white;
  transform: rotate(-5deg);
  display: inline-block;
}

.textContainer {
  display: flex;
  align-items: center;
  padding: 20px;
}

.joinNow {
  background-color: #ffa500;
  color: white;
  padding: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: underline;
}

.joinNow a {
  text-decoration: none;
  color: white;
}

.joinbold {
  font-weight: bold;
}

.straightText {
  transform: rotate(5deg);
  display: inline-block;
}

.LinkAndTextComponent {
  display: flex;
}

.LinkAndTextComponent .link {
  flex: 1;
  color: #6347fe;
  text-decoration: underline;
  margin-left: 30px;
  padding-top: 20px;
  font-size: 20px;
}

.LinkAndTextComponent .text {
  flex: 1;
  color: #c2c4c9;
}

.boldText {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

.TextComponent {
  display: flex;
}

.yourluck {
  font-size: 30px;
  font-weight: 900;
  padding-right: 20px;
}

.joinus {
  padding-left: 20px;
}

.joinNow2 {
  background-color: #ffa500;
  color: white;
  text-decoration: underline;
  color: white;
  padding: 20px;
  text-align: center;
}

.joinNow2 a {
  text-decoration: none;
  color: white;
}
